/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */
body{
    background-color: #F7F7F7;
}
.background{
    width:100vw; height:100vh; padding:15px;
    background-color:gray;
    background-size: cover;
}
.mypage_btn_image{
    width: 3rem;
    height: 3rem;
    border-radius:50%;
    margin: 0 auto;
}
.toppage{
    margin: 5rem auto;
    width: 30vw;
    vertical-align: middle;
    text-align: center;
    padding:0.5rem 0 1rem 0;
    border-radius: 20%;
    background-color: white;
    opacity: 0.6;
}
.toppage_edit{
    position: relative;
    margin: 5rem auto;
    width: 60vw;
    height: 80vh;
    vertical-align: middle;
    text-align: center;
    padding:0.5rem 0 1rem 0;
    border-radius: 20%;
    background-color: white;
    opacity: 0.6;
}
.toppage_upper_left{
    position: absolute;
    left: 10vw;
    top: 8vh;
    height: 30vh;
}
.toppage_upper_right{
    position: absolute;
    right: 10vw;
    top: 8vh;
    height: 30vh;
}
.toppage_under{
    position: absolute;
    bottom: 5vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 30vh;
}
.icon_field{
    margin: 0 auto;
}
.mypage_button{
    display:block;
    width: calc(100%/2);
    /*margin:0 auto;*/
}
.flex_wrapper{
    display: flex;
}
.icon_img {
    width:30vw;
    height:30vh;
    margin:0 auto;
}
.user_icon{
    width: 100%;
    height: auto;
    padding:15px;
}
.icon_img {
    /*width: calc(100%/5);*/
    /*height: auto;*/
    width: 20rem;
    height: 20rem;
    border-radius:50%;
    margin: 0 auto;
    content: '写真を表示';
    font-size: 1vw;
}
.icon_image{
    height:50px;
    width:50px;
    border-radius:50%;
    margin: 0.5rem;
}
#name{
    width: 100%;
    font-size: 3rem;
    font-weight:bold;
    padding-bottom: 1.5rem;
}
.chat-room{
    font-size:2rem;
}
.user_show_wrapper{
    width: calc(100% /2);
    margin: 0;
    z-index: 100;
    /*background-color: #;*/
}
.profile_wrapper{
}
.icon_wrapper{
    width: 100%;
    height: auto;
}
.user_profile{
    line-height:200%;
    padding: 15px;
}
.article_wrapper{
    width: 100%;
}

a :hover{opacity: 0.8;}
#notice{margin: 0;}
p{margin-top: 0;}
.navbar{margin: 0;}

.users_index_font{
    font-size: 2rem;
}
.user_index_wrapper{
    position: relative;
    border-style: outset;
    border-color: #fefefe;
}
.user_index_wrapper:hover{opacity: 0.8;}

.user_icon_wrapper{
    height:50px;
    width: 50px;
}
.users_wrapper{
    height: 50rem;
    width: 100%;
    overflow: scroll;
    margin: 4rem 0;
}
.user_name_wrapper{
    position: absolute;
    left: 60px;
    bottom: 30px;
    height:1.5rem;
    vertical-align: top;
    color: black;
}
.user_profile_wrapper{
    position: absolute;
    left: 60px;
    bottom: 10px;
    height:1.5rem;
    vertical-align: bottom;
    text-align: left;
    color: black;
}
.profile{
    height: 1rem;
    margin-bottom: 2rem;
}
.profile_content_wrapper{
    height: 25rem;
    margin: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    /*border: black 1px dashed;*/
}
.profile_content{
    line-height: 1.5rem;
}
.box{
    display: table-cell;
}
.user_show_wrapper{
    position: relative;
}
.user_setting{
    position: absolute;
    height: 1rem;
    bottom: 8rem;
    left: 15px;
}
.set_link{
    position: absolute;
    height: 1rem;
    bottom: 3rem;
    left: 15px;
}
.edit_set_link{
    position: absolute;
    height: 1rem;
    bottom: 5rem;
    right: 8rem;
}
.alert-notice{
    padding:0px;
    margin: 0px;
}
.link_mypage{
    position: relative;
    width: 120px;
    height: 50px;
}
.link_mypage a{
    width: 100%;
    height: 100%;
    margin: 0;
}
.mypage_btn_image{
    position: absolute;
    top: 10px;
}
.btn_display{
    position: absolute;
    left: 45px;
    top: 16px;
}