// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_search{
  width: 480px;
  margin: 0 auto;
}

.diaries_wrapper{
  height: 300px; /* 高さを制限(※) */
  margin-bottom: 1rem;
  width: 100%;
  overflow: scroll;  /* スクロールバーを表示(※) */
}
.diary_wrapper{margin: 1rem auto;}
.diary{
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.3));
  margin: 0 auto 1rem auto;;
  padding:0.5rem 1.5rem 1.5rem 1.5rem;
  height: 7rem;
  width: 500px;
  background-color:#FFFFFF;
  border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;
}
#name{
  width:80%;
  word-wrap: break-word;
}
.users_index_wrapper{
  height: 50rem;
  width: 80%;
  overflow: scroll;
  margin: 1.5rem auto;
}
//.chartjs-render-monitor{
//  background-color: white;
//}